    body, h1, h2, h3, h4, h5, h6 {
		font-family: "Lato", sans-serif;
	}
	body, html {
		height: 100%;
		color: #777;
	}
    body {
        margin: 0;
    }
	#top{
		width: 100%;
        color: #D1C8C8;
		background: #D1C8C8;
		font-weight: bold;
        padding-bottom: 13px;
	}
    
    /* Holds the content from the image to the circle buttons */

    #content {
        padding: 4px;
        text-align: center;
        background: #DEDDDD;
    }
    #homepage{
		float: left;
        margin-top: 18px;
        margin-left: 10px;
        font-size: 1.1em;
	}
    #about-us {
        float: right;
        text-align: center;
        margin-right: 10px;
        font-size: 1.1em;
    }

    /* Holding the circles */
    
    #row {            
        display: flex;
    }
    .circle {
        width: 65px;
        height: 65px;
        border-radius: 50%;
        font-size: 12pt;
        line-height: 65px;
        text-align: center;
    }
    .col {
        margin-left: auto;
        margin-right: auto;
        display: inline-block;
        padding: 10px;
        position: relative;
    }
    .recycle {
        background: #3642E4;
        color: #fff;
    }
    .garb {
        background: #000;
        color: #fff;
    }
    .paper {
        background: #36E442;
        color: #000;
    }
    .comp {
        background: #FDFD79;
        color: #000;
    }
    .other {
        background: #D1C8C8;
        color: #000;
    }

    #mapid {
        text-align: center;
    }

    #searchbar {
        text-align: center;
        display: flex;
        padding: 10px;
    }
    .bar {
        width: 260px;
        margin-left: auto;
        margin-right: auto;
    }
    .search {
        display: inline-block;
        width: 200px;
    }
    .searchButton {
        width: 60px;
    }

    .none {
 	  display: none;
    }

    a {
        color: #2196F3;
    }
    hr {
        border: 1px solid lightgrey;
    }

	.fields {
		margin: 1%;
	}
    .copyright{
        text-align: center;
        color: #DAD8D1;
    }

    /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
    @media (max-width: 800px) {
        .row {
        flex-direction: column-reverse;
    }
    .col-25 {
        margin-bottom: 20px;
    }
  }
		#login{
				margin-left: 38%;
				position: absolute;

		}

