    body, h1, h2, h3, h4, h5, h6 {
		font-family: "Verdana", sans-serif;
	}
	body, html {
		height: 100%;
		color: #777;
	}
    body {
        margin: 0;
    }
	#top{
		width: 100%;
        color: #D1C8C8;
		background: #D1C8C8;
		font-weight: bold;
        padding-bottom: 13px;
        display: inline-block;
	}
    .img-fix {
        width: 78%;
        height: auto;
        margin: -10px -10px -10px 0px;
    }
    
    /* Holds the content from the image to the circle buttons */

    #content {
        padding: 3px;
        text-align: center;
        background: #DEDDDD;
        
    }
    .img-fix2 {
        min-width: 170px;
        height: auto;
    }
    #homepage{
		float: left;
        margin-top: 18px;
        margin-left: 10px;
        font-size: 1.1em;
        
	}
    #about-us {
        float: right;
        text-align: center;
        margin-right: 10px;
        margin-bottom: 1px;
        font-size: 1.1em;
    }

    /* Holding the circles */
    
    #row {            
        display: flex;
    }
    .circle {
        width: 90px;
        max-width: 90px;
        height: 90px;
        border-radius: 50%;
        font-size: 12pt;
        line-height: 65px;
        text-align: center;
    }
    .circle:active {
        opacity: 0.7;
    }
    .col {
        margin-left: auto;
        margin-right: auto;
        display: inline-block;
    }
    .recycle {
        background: #3642E4;
        color: #fff;
    }
    .garb {
        background: #000;
        color: #fff;
    }
    .paper {
        background: #36E442;
        color: #000;
    }
    .comp {
        background: #FDFD79;
        color: #000;
    }
    .other {
        background: #D1C8C8;
        color: #000;
    }

    /* the map */

    #mapcontainer {
        text-align: center;
        
        
    }
    #mapid {
        width: 900px;
        height: 550px;
        display: inline-block;
        
    }

    /* the searchbar */
    
    #searchbar {
        text-align: center;
        display: flex;
        padding: 10px;
        width: 240px;
        margin-left: auto;
        margin-right: auto;
    }

    #search {
        display: inline-block;
        width: 200px;
    }
    #searchButton {
        display: inline-block;
        width: 32px;

    }
    .b {
        width: 14px;
        height: auto;
    }

    a {
        color: #2196F3;
    }

	.fields {
		margin: 1%;
        text-align: center;
	}
    .copyright{
        display: inline-block;
        color: #DAD8D1;
    }

    /* making things responsive on lower screen size */    

    @media only screen and (max-width: 900px) {
        #mapid {
            width: 95%;
            
        }
        .copyright {
            width: 60%;
        }
        
        
    }



