    body, h1, h2, h3, h4, h5, h6 {
		font-family: "Lato", sans-serif;
	}
	body, html {
		height: 100%;
		color: #777;
	}
	#top{
		width: 100%;
        color: #D1C8C8;
		background: #D1C8C8;
		font-weight: bold;
        padding-bottom: 13px;
	}

    #content {
        padding-top: 3px;
        text-align: center;
        background: #DEDDDD;
    }
    #homepage{
		float: left;
        margin-top: 17px;
        margin-left: 10px;
        font-size: 1.1em;
	}
    #about-us {
        float: right;
        text-align: center;
        margin-right: 10px;
        font-size: 1.1em;
    }

    #row {            
        text-align: center;
        display: inline-block;
        
    }
    .circle {
        width: 90px;
        height: 90px;
        border-radius: 50%;
        font-size: 12pt;
        line-height: 90px;
        text-align: center;
        
    }
    .recycle {
        background: #3642E4;
        color: #fff;
    }
    .garb {
        background: #000;
        color: #fff;
    }
    .paper {
        background: #36E442;
        color: #000;
    }
    .comp {
        background: #FDFD79;
        color: #000;
    }

    #searchbar {
        text-align: center;
        margin-top: 10px;
    }
    .search {

    }

	.middletext {
		line-height: 300px;
		vertical-align: middle;
		text-align: center;
		color: black;
	}
	.textfield {
		outline: 0;
		border-width: 0px 0px 1px 0px;
		border-color: grey;
		width: 80%;
		display: inline;
	}

    .none {
 	  display: none;
    }

    a {
        color: #2196F3;
    }
    hr {
        border: 1px solid lightgrey;
    }

	.fields {
		margin: 1%;
	}
    .copyright{
        text-align: center;
        color: #DAD8D1;
    }

    /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
    @media (max-width: 800px) {
        .row {
        flex-direction: column-reverse;
    }
    .col-25 {
        margin-bottom: 20px;
    }
  }
		#login{
				margin-left: 38%;
				position: absolute;

		}

